---
import IconList from '../components/IconList.astro';
import JobListings from '../components/JobListings.astro';
import '../styles/main.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="main-grid">
			<main>
				<p class="eyebrow">Skills & Experience</p>
				<h1 class="page-title">My Resume</h1>
				<p class="intro">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam
					consequatur quibusdam iusto? Tenetur soluta doloribus blanditiis?
					Itaque ex sapiente rem.
				</p>
				<JobListings/>
			</main>
			<aside>
				<h2 class="visually-hidden">My Skills</h2>
				<IconList/>
			</aside>
		</div>
	</body>
</html>
